<footer>
  <div class="container-1400 ">
    <div class="main-footer">
      <div class="main-footer__newsletter flex">
        <span class="h3 uppercase">{{section.settings.newsTitle}}</span>
        {% if section.settings.newsContent != blank %}
        <p>{{section.settings.newsContent}}</p>
        {%endif%}
        <div class="newsletter-form">
          <form action="#" method="post">
            <input type="email" value="" name="EMAIL" class="email" aria-label="email" placeholder="Enter Email Address"
              required>
            <input type="submit" value="Subscribe" name="subscribe" aria-label="submit" class="btn-submit">
          </form>
        </div>
        <div class="social-icons flex-align-center ">
          {% include "social-icons" %}
        </div>
      </div>
      <div class="main-footer__nav flex-wrap">
        {% assign fotterMenu = linklists[section.settings.footerMenu]%}
        {% for link in fotterMenu.links %}
        <div class="footer-links">
          <p class="accordion-toggle">
            <!-- Remove accordion-toggle class for Basic design without accordions in mobile -->
            {{ link.title | escape }}
            <!-- Remove icons for Basic design without accordions in mobile -->
            {% include "icon-plus" %}
            {% include "icon-minus" %}
          </p>
          <ul class="accordion-content">
            <!-- Remove accordion-content class for Basic design without accordions in mobile -->
            {% for childlink in link.links %}
            <li><a href="{{ childlink.url }}" title="{{ childlink.title }}">{{ childlink.title }}</a></li>
            {%endfor%}
          </ul>
        </div>
        {%endfor%}
      </div>
    </div>

    <!-- Copyright -->
    <div class="copyright flex-wrap">
      {% if section.settings.content != blank or section.blocks.size > 0 %}
      <div class="two-column-icon-content flex">
        {% if section.blocks.size > 0%}
        <ul class="flex">
          {% for block in section.blocks %}
          <li>
            {% if block.settings.logo != blank %}
            <div class="logo-section">
              <img class="lazyload" data-src="{{ block.settings.logo | img_url: 'master' }}" alt="{{shop.name}}">
            </div>
            {%endif%}
          </li>
          {%endfor%}
        </ul>
        {%endif%}
        {% if section.settings.content != blank %}
        <div class="content">
          {{section.settings.content}}
        </div>
        {%endif%}
      </div>
      {%endif%}
      <div class="copyright-section"> {% assign footerLegalMenu = linklists[section.settings.footerLegalMenu]%}
        <ul class="flex legal-links ">
          {% for link in footerLegalMenu.links %}
          <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
          {%endfor%}
        </ul>
        <p> © PixeloLabs, 2021. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>


{% schema %}
{
"name": {
"en": "Footer"
},
"settings": [
{
"type": "text",
"id" : "newsTitle",
"label": "Newsletter Title",
"default": "Newsletter"
},
{
"type": "text",
"id" : "newsContent",
"label": "Newsletter Content",
"default": "Subscribe to receive updates, access to exclusive deals, and more."
},
{
"type": "link_list",
"id": "footerMenu",
"label": {
"en": "Footer Menu"
}
},
{
"type": "link_list",
"id": "footerLegalMenu",
"label": {
"en": "Footer Legal Menu"
}
},
{
"type": "richtext",
"id": "content",
"label": "Content"
}
],
"blocks": [
{
"type": "logo",
"name": "Logo",
"settings": [
{
"type": "image_picker",
"id": "logo",
"label": "Logo"
}
]
}
]
}
{% endschema %}