<link href="{{ 'mbb-four-product-carousel-section.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">

<div class="four-product-carousel-section">
  <div class="container-1372">
    <div class="heading-content">
      <h2>Our Top Sellers</h2>
      <a href="#" class="border-cta">Shop Our Collection</a>
    </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="content swiper-slide">
          <div class="image-section">
            <img src="{{ "prod-img.webp" |asset_url}}" />
          </div>
          <h3>1 BabyMama Unscented Soap with Chamomile</h3>
          <span>$8.25</span><span class="discount">$10.00</span>
          <div class="star-icons">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </div>
        </div>
        <div class="content swiper-slide">
          <div class="image-section">
            <img src="{{ "prod-img.webp" |asset_url}}" />
          </div>
          <h3>1 BabyMama Unscented Soap with Chamomile</h3>
          <span>$8.25</span><span class="discount">$10.00</span>
          <div class="star-icons">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </div>
        </div> 
        <div class="content swiper-slide">
          <div class="image-section">
            <img src="{{ "prod-img.webp" |asset_url}}" />
          </div>
          <h3>1 BabyMama Unscented Soap with Chamomile</h3>
          <span>$8.25</span><span class="discount">$10.00</span>
          <div class="star-icons">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </div>
        </div> 
        <div class="content swiper-slide">
          <div class="image-section">
            <img src="{{ "prod-img.webp" |asset_url}}" />
          </div>
          <h3>1 BabyMama Unscented Soap with Chamomile</h3>
          <span>$8.25</span><span class="discount">$10.00</span>
          <div class="star-icons">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </div>
        </div> 
        <div class="content swiper-slide">
          <div class="image-section">
            <img src="{{ "prod-img.webp" |asset_url}}" />
          </div>
          <h3>1 BabyMama Unscented Soap with Chamomile</h3>
          <span>$8.25</span><span class="discount">$10.00</span>
          <div class="star-icons">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </div>
        </div> 
    </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
  </div>
</div>
 

<script>
  $(document).ready(function() {
// Swiper: Slider
    new Swiper('.swiper-container', {
        loop: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 4,
        autoplay: false,
        paginationClickable: true,
        breakpoints: {
            1920: {
                slidesPerView: 4,
                spaceBetween: 31
            },
            1028: {
                slidesPerView: 3,
                spaceBetween: 31
            },
            480: {
                slidesPerView: 2,
                spaceBetween: 10
            }
        }
    });
});

</script>