<link href="{{ 'mbb-four-product-carousel-section.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">

 
<div class="four-product-carousel-section">
  <img class="wave-img" src="{{ "path-2.svg" |asset_url}}" alt="">
  <div class="container">
    <div class="heading-content">
      <h2>Our Top Sellers</h2>
      <a href="#" class="border-cta">Shop Our Collection</a>
    </div>

    <div class="carousel">
      <ul>
        <li>
          <div class="image-section">
            <img src="{{ "prod-img.webp" |asset_url}}" />
          </div>
          <h3>BabyMama Unscented Soap with Chamomile</h3>
          <span>$8.25</span><span class="discount">$10.00</span>
          <div class="star-icons">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </div>
        </li>
        <li>
          <div class="image-section">
            <img src="{{ "prod-img.webp" |asset_url}}" />
          </div>
          <h3>BabyMama Unscented Soap with Chamomile</h3>
          <span>$8.25</span><span class="discount">$10.00</span>
          <div class="star-icons">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </div>
        </li>
        <li>
          <div class="image-section">
            <img src="{{ "prod-img.webp" |asset_url}}" />
          </div>
          <h3>BabyMama Unscented Soap with Chamomile</h3>
          <span>$8.25</span><span class="discount">$10.00</span>
          <div class="star-icons">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </div>
        </li>
        <li>
          <div class="image-section">
            <img src="{{ "prod-img.webp" |asset_url}}" />
          </div>
          <h3>BabyMama Unscented Soap with Chamomile</h3>
          <span>$8.25</span><span class="discount">$10.00</span>
          <div class="star-icons">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </div>
        </li>
<!--         <li>
          <img src="{{ "prod-img.webp" |asset_url}}" />
          <h3>BabyMama Unscented Soap with Chamomile</h3>
          <span>$8.25</span><span>$8.25</span>
          <div class="star-icons">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </div>
        </li>
        <li>
          <img src="{{ "prod-img.webp" |asset_url}}" />
          <h3>BabyMama Unscented Soap with Chamomile</h3>
          <span>$8.25</span><span>$8.25</span>
          <div class="star-icons">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </div>
        </li>
        <li>
          <img src="{{ "prod-img.webp" |asset_url}}" />
          <h3>BabyMama Unscented Soap with Chamomile</h3>
          <span>$8.25</span><span class="discount">$10.00</span>
          <div class="star-icons">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
</div>