{{ 'half-content-half-slider-section.css' | asset_url | stylesheet_tag}}
<div class="half-content-half-slider-section">
  <div class="container">
    <div class="half-content">
      <h2>Best Sellers</h2>
      <p>At Wildebeest we're passionate about creating practical, clever dog products you & Beest will enjoy using everyday for a lifetime.</p>
      <a href="">shop all</a>
    </div>
    <div class="half-slider">
        <div class="container">
          <div>
            <div class="image-section">
              <img src="{{ "p1.webp" | asset_url }}" />
            </div>
            <h5>Linden No Pull Dog Harness</h5>
            <h6>$38.00</h6>
          </div>
          <div>
            <div class="image-section">
              <img src="{{ "p1.webp" | asset_url }}" />
            </div>
            <h5>Linden No Pull Dog Harness</h5>
            <h6>$38.00</h6>
          </div>
          <div>
            <div class="image-section">
              <img src="{{ "p1.webp" | asset_url }}" />
            </div>
            <h5>Linden No Pull Dog Harness</h5>
            <h6>$38.00</h6>
          </div>
          <div>
            <div class="image-section">
              <img src="{{ "p1.webp" | asset_url }}" />
            </div>
            <h5>Linden No Pull Dog Harness</h5>
            <h6>$38.00</h6>
          </div>
          <div>
            <div class="image-section">
              <img src="{{ "p1.webp" | asset_url }}" />
            </div>
            <h5>Linden No Pull Dog Harness</h5>
            <h6>$38.00</h6>
          </div>
          <div>
            <div class="image-section">
              <img src="{{ "p1.webp" | asset_url }}" />
            </div>
            <h5>Linden No Pull Dog Harness</h5>
            <h6>$38.00</h6>
          </div>
        </div>
    </div>
  </div>
</div>



<script>
 $(".half-slider .container").slick({
   // slidesToShow: 4,
   // infinite:false,
   // slidesToScroll: 1,
   // autoplaySpeed: 2000,
   //   // dots: false, Boolean
  arrows: true,
  slidesToShow: 4,
  infinite:true,
  autoplay: false,
  responsive: [
    {
      breakpoint: 988,
      settings: {
        arrows: true,
        centerMode: true,
        slidesToShow: 2,
        autoplay: false,
        arrows: true,
        
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: true,
        centerMode: true,
        slidesToShow: 2,
        autoplay: false,
        arrows: true,
      }
    }
  ]
  });


</script>