<link href="{{ 'mbb-two-column-section.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">

<div class="mbb-two-column-section">
  <div class="container-1372">
    <div class="heading-content">
      <h2>OUR COLLECTIONS</h2>
      <a href="#" class="primery-btn">Shop All</a>
    </div>
    <div class="two-swiper-container">
      <div class="swiper-wrapper">
       <div class="image-content swiper-slide">
         <div class="image-section">
            <img src="{{ "collection-1-img.webp" |asset_url}}" />
         </div>
         <a href="#" class="border-cta">Shop Bar Soaps</a>
       </div>
        <div class="image-content swiper-slide">
         <div class="image-section">
            <img src="{{ "collection-1-img.webp" |asset_url}}" />
         </div>
         <a href="#" class="border-cta">Shop Bar Soaps</a>
       </div>
        <div class="image-content swiper-slide">
         <div class="image-section">
            <img src="{{ "collection-1-img.webp" |asset_url}}" />
         </div>
         <a href="#" class="border-cta">Shop Bar Soaps</a>
       </div>
      </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    
  </div>
</div>



 
<!-- <div class="mbb-two-column-section">
  {% comment %}<img class="wave-img" src="{{ "wave-bg.svg" |asset_url}}" alt="">{% endcomment %}
  <div class="container">
    <div class="heading-content">
      <h2>OUR COLLECTIONS</h2>
      <a href="#">Shop All</a>
    </div>

    <div class="carousel">
      
        <div class="container">
            <div class="image-section">
              <img src="{{ "collection-1-img.webp" |asset_url}}" />
            </div>
            <a href="#" class="border-cta">Shop Bar Soaps</a>
        </div>
        <div class="container">
            <div class="image-section">
              <img src="{{ "collection-1-img.webp" |asset_url}}" />
            </div>
            <a href="#" class="border-cta">Shop Bar Soaps</a>
        </div>
        
        
    </div>
  </div>
  
</div> -->

<script>
  $(document).ready(function() {
// Swiper: Slider
    new Swiper('.two-swiper-container', {
        // loop: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 2,
        autoplay: false,
        // paginationClickable: true,
        // initialSlide: 0,
      spaceBetween: 35,
        breakpoints: {
            1920: {
                slidesPerView: 2,
                spaceBetween: 35
            },
            1028: {
                slidesPerView: 2,
                spaceBetween: 35
            },
            480: {
              
                slidesPerView: 1,
                spaceBetween: 10
            }
        }
    });
});

</script>