<link href="{{ 'mbb-social-section.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">

 
<div class="mbb-social-section">
  <div class="container">
    <div class="heading-content">
      <h2>@mamabathandbody</h2>
      <a href="#" class="border-cta">Follow Us on Instagram</a>
    </div>

    <div class="carousel">
      <ul>
        <li>
          <div class="image-section">
            <img src="{{ "prod-img.webp" |asset_url}}" />
          </div>
        </li>
        <li>
          <div class="image-section">
            <img src="{{ "prod-img.webp" |asset_url}}" />
          </div>
        </li>
        <li>
          <div class="image-section">
            <img src="{{ "prod-img.webp" |asset_url}}" />
          </div>
        </li>
        <li>
          <div class="image-section">
            <img src="{{ "prod-img.webp" |asset_url}}" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>