<link href="{{ 'mbb-two-column-section.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">

<div class="mbb-two-column-section">
  <div class="container-1372">
     <div class="image-content">
       <div class="image-section">
          <img src="{{ "collection-1-img.webp" |asset_url}}" />
       </div>
       <a href="#" class="border-cta">Shop Bar Soaps</a>
     </div>
  </div>
</div>



 
<!-- <div class="mbb-two-column-section">
  {% comment %}<img class="wave-img" src="{{ "wave-bg.svg" |asset_url}}" alt="">{% endcomment %}
  <div class="container">
    <div class="heading-content">
      <h2>OUR COLLECTIONS</h2>
      <a href="#">Shop All</a>
    </div>

    <div class="carousel">
      
        <div class="container">
            <div class="image-section">
              <img src="{{ "collection-1-img.webp" |asset_url}}" />
            </div>
            <a href="#" class="border-cta">Shop Bar Soaps</a>
        </div>
        <div class="container">
            <div class="image-section">
              <img src="{{ "collection-1-img.webp" |asset_url}}" />
            </div>
            <a href="#" class="border-cta">Shop Bar Soaps</a>
        </div>
        
        
    </div>
  </div>
  
</div> -->